* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "helvetica", sans-serif;
  text-align: center;
}

.hidden {
  display: none;
}

img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
  opacity: 100%;
}

#login-form {
  position: relative;
  width: 300px;
  height: 40px;
  max-width: 300px;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
}

#login-form input:first-child {
  width: 300px;
  border: none;
  background-color: transparent;
  font-size: 30px;
  outline: 0;
}

input::placeholder {
  color: #fff;
}

#login-form input[type="submit"] {
  display: none;
}

#todo-form {
  position: relative;
  width: 250px;
  height: 25px;
  max-width: 300px;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
}

#todo-form input {
  width: 250px;
  border: none;
  background-color: transparent;
  font-size: 17px;
  outline: 0;
}

#todo-list li {
  align-content: center;
  line-height: 30px;
  margin-top: 5px;
}
#todo-list li > span {
  display: inline-block;
  text-align: center;
}
#todo-list li > button {
  display: inline-block;
  background-color: #fff;
  border: 0;
  color: #000;
  margin-left: 10px;
}

#weather {
  top: 10px;
  padding: 0 20px;
  font-size: 20px;
  font-style: italic;
  position: absolute;
}

#greeting {
  margin-bottom: 35px;
}

#clock {
  width: 100%;
  height: 100px;
  margin-top: 220px;
  margin-bottom: 30px;
  font-size: 120px;
  color: white;
  line-height: 100px;
}

#quote {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding-bottom: 30px;
  color: white;
}
#quote span:first-child {
  font-size: 15px;
  font-weight: bolder;
}
#quote span:last-child {
  font-size: 13px;
  font-style: italic;
}
